{% extends 'base.html' %}

{%load static%}
{% block content %}
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital">Models3D </h1>
         <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration</p>
         <div class="services_section_2">
         
            <div class="row">
            {% for model in models %}
               <div class="col-md-4">
                  <div><img src="{{model.image.url}}" class="services_img"></div>
                  <div class="btn_main"><a href="{% url 'base:detail_model' model.id %}">{{model.name}}</a></div>
               </div>
            {% endfor %}
            </div>
         </div>
      </div>
   </div>
    
    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if models.has_previous %}
                <a href="?page=1">&laquo; premier</a>
                <a href="?page={{ models.previous_page_number }}">précédent</a>
            {% endif %}
            
            <span class="current-page">{{ models.number }}</span>
            
            {% if models.has_next %}
                <a href="?page={{ models.next_page_number }}">suivant</a>
                <a href="?page={{ models.paginator.num_pages }}">dernier &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
